<div class="example-container">

  <mat-toolbar>Perfil</mat-toolbar>
  <mat-card>
    <mat-form-field>
      <input matInput style="font-size: 26px;" [(ngModel)]="usuario" [disabled]="true" />
    </mat-form-field>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let elemento of roles; let indice = index">
        <span style="font-size: 9px;">{{elemento}}</span>
        <mat-divider></mat-divider>
      </mat-list-item>

    </mat-list>
  </mat-card>

</div>