<router-outlet></router-outlet>

<button mat-fab color="primary" style="float: right" 
  routerLink='/signos/nuevo/signonuevopaciente' *ngIf="route.children.length === 0"
  disabled="{{isEdicion}}">
  <mat-icon>person_add</mat-icon>
</button>


<form class="example-container" [formGroup]="form" (ngSubmit)="operar()"  #loginForm="ngForm" *ngIf="route.children.length === 0">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>

  <mat-form-field >
    <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente" 
    formControlName="paciente" readonly="{{isEdicion}}">
    <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="displayFn" 
    (optionSelected)="seleccionarPaciente($event)" >
      <mat-option *ngFor="let p of filteredOptions | async" [value]="p">
        {{ p.nombres }} {{p.apellidos}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>


  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" 
    [max]="maxFecha" formControlName="fecha">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Temperatura" required formControlName="temperatura">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Pulso" required formControlName="pulso">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Ritmo respiratorio" required formControlName="ritmorespiratorio">
  </mat-form-field>


  <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" >
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/signos' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>

<br/>